<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {{block "title" .}}
    {{ if .title }}
    {{ .title }}
    {{end}}
    {{end}}
  </title>

  <script>
    // this will make your react app could access data from template.
    window.locals = JSON.parse("{{ .locals }}");
  </script>

  <link rel="stylesheet" href="/assets/css/client.min.css">
  <script src="/assets/js/client.min.js" defer></script>

</head>

<body class="p-2">
  <div id="root"></div>
</body>

</html>